<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="PowerBIClientID" value="" />
      <setting name="PowerBIClientSecret" value="" />
      <setting name="PowerBIGroupID" value="" />
      <setting name="PowerBIDatasetID" value="" />
      <setting name="PowerBIUserEmail" value="" />
		<setting name="PowerBIUserPassword"
				 value="" />
		<setting name="PowerBIResourceUri"
				 value="" />
		<setting name="PowerBIAuthorityUri"
				 value="" />
		<setting name="PowerBIApiAddRowsUrl"
				 value="" />
	</settings>
    <commands>
      <command name="powerbi:sync" type="Sitecore.PowerBIIntegration.PowerBISyncCommand, Sitecore.PowerBIIntegration"/>
    </commands>
  </sitecore>
</configuration>